/*Plantilla css 
/*Descripcion: Aqui ira la descripcion de cada uno de los documentos
/*Autor: Mateo García Subirán



/*Especificidad: 001*/
body {
    display: grid;
    grid-template-areas:
    'header . . .'
    'nav nav nav nav'
    'main main main main'
    'footer footer footer footer';
  gap: 10px;
  padding: 10px;
  background-color: #C2FDBF  ;
    }
    /*Especificidad: 001*/
header {
  
  justify-self: stretch;
    grid-area : header;   
    background-color:#C2FDBF;   
   
    }

  /*Especificidad: 001*/
  nav{
    grid-area : nav;
    color: #fff;    
    background-color:#7e7e7e; 
    text-transform: uppercase;
    text-align: center;     
  }

   /*Especificidad: 001*/
   main{
    grid-area : main;
    background-color:#C2FDBF;    
  }

    /*Especificidad: 001*/
    footer{
        grid-area : footer;
        background-color:#C2FDBF;    
      }




  /*Especificidad: 001*/
  h2 {
    color: #fff;    
    background-color:#7e7e7e; 
    text-transform: uppercase;
    padding: 1em; 
    text-align: center;     
    }
 
 


table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: solid black;
  Color:white;
}
th, td {
  width:150px;
  text-align:center;
  border:1px solid black;
  padding:5px

}

  
  
  
  