/*Plantilla css 
/*Descripcion: Aqui ira la descripcion de cada uno de los documentos
/*Autor: Mateo García Subirán



/*Especificidad: 001*/
body {
    display: grid;
    grid-template-areas:
    'header . . .'
    'nav nav nav nav'
    'main main main main'
    'footer . . .';
  gap: 10px;
  padding: 10px;
  background-color: #fae6fa  ;
    }
    /*Especificidad: 001*/
header {
  
  justify-self: stretch;
    grid-area : header;   
    
   
    }

  /*Especificidad: 001*/
  nav{
    grid-area : nav;
    color: white;    
    background-color:#D2B4DE; 
    text-transform: uppercase;
    text-align: center;     
  }
  /*Especificidad: 002*/
  nav>a:link{
    color: white;   
  }
  /*Especificidad: 002*/
  nav>a:visited{
    color: white;   
  }

   /*Especificidad: 001*/
   main{
    grid-area : main;
    background-color:#fae6fa;    
  }

    /*Especificidad: 001*/
    footer{
        grid-area : footer;
        
      }




  /*Especificidad: 001*/
  h2 {
    color: #fff;    
    background-color:#D2B4DE; 
    text-transform: uppercase;
    padding: 1em; 
    text-align: center;     
    }
 
 

 /*Especificidad: 001*/
table {
  border-collapse: collapse;
  width: 100%;
  background-color: #FFFFFF;
}
 /*Especificidad: 001*/
th {
  background-color:  #fae6fa;
  
}
 /*Especificidad: 001*/
th, td {
  width:150px;
  text-align:center;
  border:1px solid black;
  padding:5px

}

  
  
  
  