/*Plantilla css 
/*Descripcion: Aqui ira la descripcion de cada uno de los documentos
/*Autor: Mateo García Subirán



/*Especificidad: 001*/
body {
   
      display: grid;
      grid-template-areas:
      'header . . .'
      'nav nav nav nav'
      'main main main main'
      '. . footer .';
   
    }
      /*Especificidad: 001*/
  header {
    
      grid-area : header;   
      
     
      }
  
    /*Especificidad: 001*/
    nav{
      grid-area : nav;
      
    }
  
  
     /*Especificidad: 001*/
     main{
      grid-area : main;
   
    }
  
    /*Especificidad: 001*/
    footer{
          grid-area : footer;
          
    }
  
 
  
  
  
  
   
   
  

  
  
    
    
    
    