/*Especificidad: 001*/
body {
    background-color: #C2FDBF  ;
    }

  /*Especificidad: 001*/
  nav{
    color: #fff;    
    background-color:#7e7e7e; 
    text-transform: uppercase;
    text-align: left;     
  }

/*Especificidad: 001*/
h1 {
  
  text-align: center;     
  }
  /*Especificidad: 001*/
  h2 {
    color: #fff;    
    background-color:#7e7e7e; 
    text-transform: uppercase;
    padding: 1em; 
    text-align: center;     
    }
  
  
  